#resulttable{
    margin: 0px auto ;
    border: 1px black solid;
    border-collapse: collapse ;
}

#resulttable th,#resulttable td{
    border: 1px black solid;
    padding: 10px;
}
#resulttable th{
    background-color: rgb(19, 19, 214);
    color: aliceblue;
}


#resultdiv{
    margin-top: 20px;
    display: none;
}

#pagectrl{
    font-size: 0.8em;
    text-align: center;
    display: none;

}

#gopage{
    width: 30px;
}
#prePageSpan, #nextPageSpan{
    display: none; 
}

#searchBtn{
    display: none;
}