*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: 'JetBrains Mono Medium';
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top ,#bac8e0,#6a85b6);
}
.form-wa{
    width: 300px;
    background-image: linear-gradient(to top ,#e4efe9,#93a5cf);
    color: #fff;
    border-radius: 2px;
    padding: 50px;
}
.header{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    line-height: 100px;
}
#manname,#manpwd{
    background-image:linear-gradient(to top ,#e4efe9,#93a5cf);
    border: 0;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: #fff;
    outline: none;
}
.form-wa.header.input-wa input::placeholder{
    text-transform: uppercase;
}

.border-wa{
    background-image: linear-gradient(to right,#e8098b,#0eb4dd);
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#manname,#manpwd{
    height: calc(100% - 4px);
    width: calc(100% - 4px);
    border-radius: 30px;
}
.action{
    display: flex;
    justify-content: center;
}
#log{
    width: 60%;
    text-transform: uppercase;
    border: 2px solid #0e92b3;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 30px;
}
#log:hover{
    background-color: #0e92b3;
}
.zhuce{
     display: flex;
    margin-left: 250px;
}
#reg{
    width: 90%;
    text-transform: uppercase;
    border: 1px solid #0e92b3;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    border-radius: 15px;
}
#reg:hover{
    background-color: #0e92b3;
}
#return{
    width: 30%;
    text-transform: uppercase;
    border: 2px solid #0e92b3;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    border-radius: 30px;
}
#return:hover{
    background-color: #0e92b3;
}

#eyeShow{
    
    position:absolute;
    left:40%;
    top:31%;
    width: 60px;
    height: 32px
    
}
#eyeHide{
    
    position:absolute;
    left:40%;
    top:31%;
    width: 60px;
    height: 32px
    
}