
html{
    height: 100%;
}
body{
    height: 100%;
    font-family: 'JetBrains Mono Medium';
    /*display: flex;*/
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top ,#bac8e0,#6a85b6);
}

.yonghuming{
    margin-left: 180px;
    text-align: left;
    font-size: 25px;
   /* 控制字体大写text-transform: uppercase;*/
    line-height: 100px;
}


#returnhome{
    background: none;
     border: 0;
     outline: 0;
     color: rgba(13, 2, 73, 0.767);
     font-family:'JetBrains None';
     font-size: 20px;
     cursor: pointer;
     border: 2px solid rgb(13, 2, 73,0.767);
     
     
 }
 #returnhome label{
     position: absolute;
     left: 0;
     top: 0;
     line-height: 30px;
     width: 100%;
     height: 100%;
     z-index:1;
     background-color: rgb(51,51,51);
 }
 #returnhome::before{
     content: '';
     position: absolute;
     left: -2px;
     top: -2px;
     width: 0px;
     height: 0px;
     z-index: 0;
     background-color: brown;
     transition: width.5s,heigth.5s;
     
 }
 #returnhome::after{
    content: '';
     position: absolute;
     right: -2px;
     bottom: -2px;
      width: 0px;
     height: 0px;
     z-index: 0;
     background-color: brown; 
      transition: width.5s,heigth.5s;
     /*width: calc(100% * 4px);
     height: calc(100% * 4px);*/
 }
 #returnhome:hover{
     color: brown;
 }
 #returnhome:hover::before{
     width: calc(100% * 4px);
     height: calc(100% * 4px);
 }
 #returnhome:hover::after{
     width: calc(100% * 4px);
     height: calc(100% * 4px);
 }

 
 #xiugai{
    background: none;
     border: 0;
     outline: 0;
     color: rgba(13, 2, 73, 0.767);
     font-family:'JetBrains None';
     font-size: 20px;
     cursor: pointer;
     border: 2px solid rgb(13, 2, 73,0.767);
     
     
 }
 #xiugai label{
     position: absolute;
     left: 0;
     top: 0;
     line-height: 30px;
     width: 100%;
     height: 100%;
     z-index:1;
     background-color: rgb(51,51,51);
 }
 #xiugai::before{
     content: '';
     position: absolute;
     left: -2px;
     top: -2px;
     width: 0px;
     height: 0px;
     z-index: 0;
     background-color: brown;
     transition: width.5s,heigth.5s;
     
 }
 #xiugai::after{
    content: '';
     position: absolute;
     right: -2px;
     bottom: -2px;
      width: 0px;
     height: 0px;
     z-index: 0;
     background-color: brown; 
      transition: width.5s,heigth.5s;
     /*width: calc(100% * 4px);
     height: calc(100% * 4px);*/
 }
 #xiugai:hover{
     color: brown;
 }
 #xiugai:hover::before{
     width: calc(100% * 4px);
     height: calc(100% * 4px);
 }
 #xiugai:hover::after{
     width: calc(100% * 4px);
     height: calc(100% * 4px);
 }
 .xinxikuang{
    /* position: relative;*/
     width: 35%;
     /*height: auto;*/
     margin: 0 auto;
     border-top-left-radius: 80px;
     border-top-right-radius: 80px;
     border-bottom-right-radius: 80px;
     border-bottom-left-radius: 80px;
     padding: 20px;
     background-image: linear-gradient(to top ,#e4efe9,#93a5cf);
 }